doctype html
html(lang='zh-cmn-Hans')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://cdn.bootcss.com/jquery/3.2.1/jquery.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon',href='/images/fav.ico',type='image/x-icon')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/catalog') 主页
              li 
                a(href='/catalog/books') 所有藏书
              li 
                a(href='/catalog/authors') 所有作者
              li 
                a(href='/catalog/genres') 所有种类
              li 
                a(href='/catalog/bookinstances') 所有藏书副本
              li 
                hr
              li 
                a(href='/catalog/author/create') 增添藏书作者
              li 
                a(href='/catalog/genre/create') 增添藏书种类
              li 
                a(href='/catalog/book/create') 增添藏书
              li 
                a(href='/catalog/bookinstance/create') 增添藏书副本
                
        div(class='col-sm-10')
          block content